<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BACKDOOR.RUN</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
        body {
            background-color: #333;
            color: #fff;
        }

        .hero.is-dark {
            background-color: #222;
        }

        .title {
            color: #fff;
        }

        .subtitle {
            color: #ccc;
        }
    </style>
</head>

<body>
    <section class="hero is-dark is-fullheight">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    BACKDOOR
                </h1>
                <h2 class="subtitle">
                    .RUN
                </h2>
            </div>
        </div>
    </section>
</body>

</html>
